<div class="cart-item">
    <a @onclick="OnRemoved" class="delete-item">x</a>
    <div class="title">@(Meal.Food.WeightGrams)" @Meal.Food.Title</div>
    <div class="item-price">
        Calories:@Meal.Food.CalculateCalories()
        Carbs:@Meal.Food.CalculateCarbs()
        Protein:@Meal.Food.CalculateProtein()
        Fats:@Meal.Food.CalculateFats()
    </div>
</div>

@code {
    [Parameter] public Meal Meal { get; set; }
    [Parameter] public EventCallback OnRemoved { get; set; }
}