@inherits LayoutComponentBase

<div class="top-bar">
    <div style="display: flex;">
        <a class="logo" href="">
            <img src="img/gold-gym.png" />
        </a>
        <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
            <img src="img/save-trainings.svg" />
            <div>Save Training</div>
        </NavLink>
        <NavLink href="meals" class="nav-tab" Match="NavLinkMatch.All">
            <img src="img/food.svg" />
            <div>Save Meals</div>
        </NavLink>
        
        <AuthorizeView>
            <NavLink href="trainingDaysArchive" class="nav-tab">
                <img src="img/saved-trainings.svg" />
                <div>My Trainings</div>
            </NavLink>
            <NavLink href="admin" class="nav-tab">
                <img src="img/admin.svg" />
                <div>Admin Panel</div>
            </NavLink>
            <NavLink href="monthlyStatistics" class="nav-tab">
                <img src="img/analytics.png" />
                <div>Monthly Result</div>
            </NavLink>
        </AuthorizeView>
    </div>
    <LoginDisplay/>
</div>
<ToastBase></ToastBase>
<div class="content">
    @Body
    
</div>