@page "/"
@inject IBodyPartService BodyPartService
@inject NavigationManager NavigationManager

<div class="main">
    <ul class="pizza-cards">
        @if (bodyParts != null)
        {
            @foreach (var bodyPart in bodyParts)
            {
                <li @onclick="@(()=> NavigateToProducts(bodyPart.Name))" style="background-image: url('@bodyPart.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@bodyPart.Name</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>


@code {
    List<BodyPart> bodyParts = new();

    protected override async Task OnInitializedAsync()
    {
        bodyParts = await BodyPartService.GetBodyParts();
    }

    private void NavigateToProducts(string bodyPartUrl)
    {
        NavigationManager.NavigateTo($"/bodyPart/{bodyPartUrl}");
    }

}