@*@page "/overallDay"


@inject NavigationManager NavigationManager
@inject ISaveToServerService SaveToServerService
@inject TrainingDayState TrainingDayState

<div class="main">
<EditForm Model="TrainingDayState" OnValidSubmit="PlaceOrder">
    <div class="checkout-cols">
        <div class="checkout-order-details">
            <h4>Review Training</h4>
            <TrainingReview TrainingDay="TrainingDayState.TrainingDay" />
        </div>

        <div class="checkout-delivery-address">
            <h4>Review Nutrition</h4>
            <NutritionReview TrainingDay="TrainingDayState.TrainingDay" />
        </div>
    </div>

    <button type="submit" class="checkout-button btn btn-warning">
        Save
    </button>

    <DataAnnotationsValidator />
</EditForm>
</div>

@code {

    async Task PlaceOrder()
    {
        var newTrainingDayId = await SaveToServerService.SaveTheDay(TrainingDayState.TrainingDay);
        TrainingDayState.ResetOrder();
        NavigationManager.NavigateTo("trainingDaysArchive");
    }
}
*@